{
  "debug": false,
  "remote_server": "http://ip地址:8002",
  "access_token": "Bearer 你的token",
  "common": {
    "user_res": {
      "id": 1,
      "name": "用户名",
      "email": "邮箱"
    },
    "doc_res": {
      "status": "success",
      "data": "这是配置的响应数据,没有获取请求真实的后端",
      "code": 200
    }
  },
  "url_configs": {
     "/api/users/[id]/": {
      "GET": {
        "response_data": "{{user_res}}"
      },
      "DELETE": {
        "response_data": "{{user_res}}"
      }
    },
    "/api/users/": {
      "POST": {
        "request_body": null,
        "response_data": {
          "id": 40,
          "name": "用户名",
          "email": "邮箱"
        }
      },
      "GET": {
        "request_body": null,
        "response_delay": 2,
        "is_enable": false,
        "response_data": {
          "count": 10,
          "next": null,
          "previous": null,
          "results": [
             "{{user_res}}",
            {
              "id": 43,
              "name": "用户名",
              "email": "邮箱"
            }
          ]
        }
      }
    },
    "/api/docs/": {
      "GET": {
        "request_body": null,
         "response_data": "{{doc_res}}"
       
      }
    }
  }
}
